<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/menuSetup.css">
</head>
<body>
  <%- include('../components/nav') %>
  <%- include('../components/header') %>

  <h1>新增標籤</h1>
  <form action="/api/1.0/admin/createMenuTags" method="POST">
    <input type="text" placeholder="tag" name="tag">
    <button>submit</button>
  </form>

  <h1>新增種類</h1>
  <form action="/api/1.0/admin/createMenuCategory" method="POST">
    <input type="text" placeholder="category" name="category">
    <button>submit</button>
  </form>

  <h1>新增餐點</h1>
  <form action="/api/1.0/admin/createMenuContents" method="POST" enctype="multipart/form-data">
    <select name="category">
      <% for(let i = 0; i < cateArr.length; i++){ %>
      <option value="<%= cateArr[i] %>"><%= cateArr[i] %></option>
      <% } %>
    </select>
    <select name="tags">
      <% for(let i = 0; i < tagsArr.length; i++){ %>
      <option value="<%= tagsArr[i] %>"><%= tagsArr[i] %></option>
      <% } %>
    </select>
    <input type="text" placeholder="name" name="name">
    <input type="number" placeholder="price" name="price">
    <input type="text" placeholder="story" name="story">
    <input type="file" name="main_image" >
    <input type="file" name="images" multiple>
    <button>submit</button>
  </form>

  <h1>標籤一覽</h1>
  <div class="menuTags"></div>

  <h1>種類一覽</h1>
  <div class="menuCategories"></div>

  <h1>菜單一覽</h1>
  <div class="menus">
  </div>

  <script>
    const menuCategories = document.querySelector('.menuCategories');
    const menuTags = document.querySelector('.menuTags');
    const menus = document.querySelector('.menus');
    const fetchMenuCategoryUrl = `/api/1.0/admin/fetchMenuCategories`;
    const fetchMenuTagsUrl = `/api/1.0/admin/fetchMenuTags`;
    const getMenuUrl = `/api/1.0/admin/menu`;
    const createMenuContentUrl = `/api/1.0/admin/createMenuContents`;
    const deleteMenuTagUrl = `/api/1.0/admin/deletemenuTag`;
    const deleteMenuCategoryUrl = `/api/1.0/admin/deletemenuCategory`;
    const deleteMenuContentUrl = `/api/1.0/admin/deletemenuContent`;
    const cdn = `https://d3nexs9enmvorf.cloudfront.net`;
    
    function deleteMenuTag(i){
      const tag = i.tags;
      fetch(deleteMenuTagUrl, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ id: i._id }),
      })  
        .then((res) => res.json())
        .then((data) => {
          if(data){
            alert(`tag: ${tag} deletion`);
            location.reload();
          } else{
            alert(`Deletion Failed`);
          }       
        })
    }

    function deleteMenuCategory(i){
      const category = i.category;
      fetch(deleteMenuCategoryUrl, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ id: i._id }),
      })  
        .then((res) => res.json())
        .then((data) => {
          if(data){
            alert(`category: ${category} deletion`);
            location.reload();
          } else{
            alert(`Deletion Failed`);
          }       
        })
    }

    function deleteMenuContent(i){
      const meal = i.name;
      fetch(deleteMenuContentUrl, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ id: i._id }),
      })  
        .then((res) => res.json())
        .then((data) => {
          if(data){
            alert(`category: ${meal} deletion`);
            location.reload();
          } else{
            alert(`Deletion Failed`);
          }
        })
    }

    function fetchMenuTags(){
      fetch(fetchMenuTagsUrl)
        .then((res) => res.json())
        .then((data) => {
          data.forEach(i => {
            const menuTag = document.createElement('span');
            const tagsBox = document.createElement('div');
            tagsBox.classList.add('tagsBox');
            menuTag.classList.add('menuTag');
            menuTag.innerText = i.tags;
            tagsBox.appendChild(menuTag);

            const deleteMenuTagButton = document.createElement('button');
            deleteMenuTagButton.innerText = 'Delete';
            deleteMenuTagButton.id = i._id;
            tagsBox.appendChild(deleteMenuTagButton);

            menuTags.appendChild(tagsBox);

            deleteMenuTagButton.addEventListener('click', () => {
              deleteMenuTag(i);
            })
            
          });
        })
    }

    function fetchMenuCategory(){
      fetch(fetchMenuCategoryUrl)
        .then((res) => res.json())
        .then((data) => {
          data.forEach(i => {
            const menuCategory = document.createElement('span');
            const categoryBox = document.createElement('div');
            categoryBox.classList.add('categoryBox');
            menuCategory.classList.add('menuCategory');
            menuCategory.innerText = i.category;
            categoryBox.appendChild(menuCategory);

            const deleteMenuCategoryButton = document.createElement('button');
            deleteMenuCategoryButton.innerText = 'Delete';
            deleteMenuCategoryButton.id = i._id;
            categoryBox.appendChild(deleteMenuCategoryButton);

            menuCategories.appendChild(categoryBox);

            deleteMenuCategoryButton.addEventListener('click', () => {
              deleteMenuCategory(i);
            })
            
          });
        })
    }

    function fetchMenu(){
      fetch(getMenuUrl)
        .then((res) => res.json())
        .then((data) => {
          data.forEach(i => {
            const menu = document.createElement('div');
            menu.classList.add('menu');
            const menuCategory = document.createElement('p');
            menuCategory.classList.add('menuCategory');
            const menuName = document.createElement('p')
            menuName.classList.add('menuName');
            const menuPrice = document.createElement('p')
            menuPrice.classList.add('menuPrice');
            const menuStory = document.createElement('p')
            menuStory.classList.add('menuStory');
            const menuImg = document.createElement('img')
            menuImg.classList.add('menuImg');

            menu.id = i._id;
            menuCategory.innerText = i.category;
            menuName.innerText = i.name;
            menuPrice.innerText = `$ ${i.price}`;
            menuStory.innerText = i.story;
            menuImg.src = `${cdn}/${i.main_image}`;

            menu.appendChild(menuCategory)
            menu.appendChild(menuName)
            menu.appendChild(menuPrice)
            menu.appendChild(menuStory)
            menu.appendChild(menuImg)
            menus.appendChild(menu);

            const deleteMenuButton = document.createElement('button');
            deleteMenuButton.innerText = 'Delete';
            deleteMenuButton.id = i._id;
            menu.appendChild(deleteMenuButton);

            deleteMenuButton.addEventListener('click', () => {
              deleteMenuContent(i);
            })
          });
        })
    }

    fetchMenuCategory();
    fetchMenu();
    fetchMenuTags();

  </script>
</body>
</html>